html, body {
  width: 200px;
  margin: auto;
}

.hidden {
  display: none;
}

.button {
  margin: 2% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}

.popup-content {
  align-content: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}